ENV=local
HTTP_SERVER_ADDRESS=localhost:8080
HTTP_SERVER_TIMEOUT=4s
HTTP_SERVER_IDLE_TIMEOUT=60s
DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=postgres
DB_NAME=tasktracker_db
DB_DRIVER=postgres
DB_MIGRATIONS_DIR=./storage/migrations
