ENV=local #local, dev
LOG_PATH=logs/
HTTP_SERVER_ADDRESS=localhost:8080
HTTP_SERVER_TIMEOUT=4s
HTTP_SERVER_IDLE_TIMEOUT=60s
DB_HOST=localhost
DB_PORT=5432
DB_USER=db_user
DB_PASSWORD=db_password
DB_NAME=db_name
DB_DRIVER=postgres
DB_MIGRATIONS_DIR=./storage/migrations
