env: "local"
log_path: "logs/"
http_server:
  address: "localhost:8080"
  timeout: 4s
  idle_timeout: 60s
db:
  db_host : "localhost"
  db_port : "5432"
  db_user: "db_user"
  db_password: "db_password"
  db_name: "db_name
  driver: "postgres"
  dir: "./storage/migrations"